body { padding-top: 70px;  }
.tagfilter {
    text-decoration: none;
    font-family: monospace;
}
#bookmarks {
    list-style: none;
}
span.context {
    cursor: pointer;
}
#footer {
    text-align:right;
    padding: 5px;
}
